/* page_1 satrt */

.page_1 {
    padding-top: 81px;
}

.page_1 * {
    font-family: 'Abel', sans-serif;
}

.nav_left {
    margin: 50px 40px 0 40px;
    padding: 29px 52px;
    height: 100vh;
    background: #F6F8F9;
    border-radius: 15px;
}

.alecsandr_text h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #000;
}


.alecsandr_img-4 img {
    padding: 14px 20px 12px 51px;
}


.nav_left-alecsandr {
    align-items: center;
    margin: 0 auto;
}

.grade_text h2 {
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.grade_text h4 {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.grade_text span {
    margin: 0 15px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}

.grade_text {
    letter-spacing: 1px;
}

.grade_text h3 {
    margin: 0 0 0 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000;
}


.bord {
    padding: 12px 0;
}
.grade_text {
    padding-bottom: 20px;
}


.alecsandr_line {
    border: 1px solid #C5C5C5;
    width: 80%;
    margin: 0 auto;
}

.grade_img img {
    margin: 0 5px 0 0;
}

.alecsandr_img-2 img {
    padding: 18px 20px 16px 54px;
}

.alecsandr_text-2 {
    padding: 20px 0 0 0;
}

.alecsandr_text-2 h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000;
}

.info_cards-text_1 h2 {
    padding: 0 30px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #9F9F9F;
}

.info_cards-text_2 h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.alecsandr_info-text {
    margin: 20px 0 0 0;
}

.nav_right {
    justify-content: space-between;
    width: 86%;
}


.nav_bottom-text_active h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.nav_bottom-text_active span {
    margin: 0 5px;
    color: #E7A543;
}

.nav_bottom-text h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.nav_bottom-text span {
    margin: 0 5px;
    color: #2AB138;
}

.nav_bottom {
    padding: 5px 0 25px 0;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
}

.registration_text-1 h2 {
    padding: 0 30px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9F9F9F;
}

.registration_text-2 h2 {
    margin: 0 15px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.registration_text-2 span {
    color: #2AB138;
}

.registration_date {
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
}

.regist_date-1 {
    justify-content: space-between;
    width: 44%;
}

.regist_date-2 {
    justify-content: space-between;
    width: 49%;
}

.registration_text-2 .big {
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #2AB138;
}

.repair-text h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9F9F9F;
}

.repair-text-2 h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.big_frame__fex {
    margin: 50px 0 0 0;
    width: 66%;
    height: 215px;
    background: #F6F8F9;
    border-radius: 15px;
}

.frame_2 {
    margin: 0 0 40px 0;
}

.frame_5 {
    width: 911px;
    height: 273px;
    background: #F6F8F9;
    border-radius: 15px;
}

.pro_repair {

    padding: 25px 0 25px 50px;
}

td span {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #9F9F9F;
}

td p {
    padding: 0 0 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.customer_message {
    margin: 40px 0 35px 0;
}

textarea {
    width: 911px;
    height: 223px;
    padding: 20px 20px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: 1px solid #C5C5C5;
    background: #fff;
}

textarea::placeholder {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.customer_message-but .btn {
    margin: 0 0 0 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    background: #D9573B;
    border: 1px solid #D9573B;
    transform: rotate(0.43deg);
}

.customer_message-but .btn:hover {
    filter: drop-shadow(-6.49px 2.622px 16px rgba(42, 87, 156, 0.18));
    background-color: #fff;
    color: #D9573B;
}


.customer_message-but .btnn {
    margin: 0 50px 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px 40px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    background: #D9573B;
    border: 1px solid #D9573B;
    transform: rotate(0.43deg);
}

.customer_message-but .btnn:hover {
    filter: drop-shadow(-6.49px 2.622px 16px rgba(42, 87, 156, 0.18));
    background-color: #fff;
    color: #D9573B;
}

/* page_1 end */

@media (max-width: 1450px) {
    .frame {
        display: block;
    }

    .big_frame__fex {
        margin: 50px 40px 0 40px;
    }

}

@media (max-width: 990px) {

    .nav_right {
        margin: 0 0 15px 0;
    }

    .big_frame__fex {
        margin: 50px 40px 0 40px;
    }

    .big_frame__fex {
        width: 93%;
    }

    .frame_5 {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .nav_bottom {
        width: 35vh;
        padding: 0 70px 0 0;
        display: block;
        line-height: 30px;
    }

    .nav_bottom-text h2 {
        line-height: 30px;
    }

    .nav_bottom-text_img img {
        margin: 0 0 0 5px;
    }

    .registration_date {
        display: block;
    }

    .regist_date-1 {
        display: block;
    }


    .regist_date-2 {
        display: block;
    }

    .w {
        display: flex;
        margin: 0 0 0 50px;
    }

    .registration_date-info {
        width: 25vh;
    }

    .registration_text-1 h2 {
        line-height: 30px;
    }

    .registration_text-2 h2 {
        line-height: 30px;
    }

    .big_frame__fex {
        height: 100%;
    }

    .frame {
        margin: 0 35px 0 0;
    }

}

@media (max-width: 850px) {
    .nav_right {
        width: 95%;
    }
}

@media (max-width: 750px) {
    .info_cards {
        margin: 0 0 0 50px;
    }

    .nav_right {
        display: block;
    }

    .frame_5 {
        margin: 0 0 80px 0;
    }

    .registration_date-info {
        width: 23vh;
    }

}

@media (max-width: 630px) {
    .w {
        display: block;
    }

    .nav_bottom {
        width: 100%;
        padding: 0;
        display: block;
        line-height: 30px;
    }

    .registration_date {
        width: 100%;
    }

    .frame_4 {
        margin: 15px 0 0 0;
    }

    .nav_bottom-text span {
        margin: 0 5px 0 0;
    }

    .nav_bottom-text_img img {
        margin: 0;
    }

    .nav_left {
        width: 93%;
    }

    .pro_repair {
        padding: 25px 15px 25px 15px;
    }

}

@media (max-width: 560px) {
    .frame_5 {
        margin: 0 0 160px 0;
    }
}

@media (max-width: 450px) {

    .alecsandr_img img {
        padding: 50px 20px 31px 25px;
    }

    .alecsandr_img-2 img {
        padding: 50px 20px 31px 25px;
    }

    .alecsandr_img-3 img {
        padding: 33px 20px 31px 25px;
    }

    .alecsandr_img-4 img {
        padding: 14px 20px 12px 25px;
    }

    .nav_left {
        margin: 50px 40px 0 20px;
    }

    .frame {
        margin: 0 10px 0 0;
    }

    .big_frame__fex {
        margin: 50px 40px 0 20px;
    }

    .customer_message-but .btn {
        margin: 0;
    }

}