@import 'settings.scss';



.wrap {
  header {
    background-color: #000;
    padding: 17px 0 20px 0;
    border-bottom: 1px solid #B8B8B8;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__list {
        display: flex;
        align-items: center;
        li {
          margin-right: 74px;
          list-style: none;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .header__profile {
        display: flex;
        align-items: center;
        color: #fff;
        img {
          margin-right: 14px;
        }
        .bordered {
          padding: 10px;  
          border: 1px solid #fff;
          border-radius: 50%;
        }
      }
    }
  }
  main {
    .slider {
      background-color: #000;
      color: #fff;
      .container {
        display: flex;
        align-items: center;
        .slider__content {
          flex-basis: 80%;
          h2 {
            width: 523px;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
          }
          h4 {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
          }
        }
        .swiper {
          flex-basis: 44%;
          .swiper-button-next,
          .swiper-button-prev {
            color: #433939;
            border-radius: 40px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 76px;
            height: 74px;
            background: rgba(255, 255, 255, 0.56);
          }
        }
      }
    }
    .go {
      padding-top: 70px;
      padding-bottom: 180px;
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .go__card {
          display: flex;
          align-items: center;
          padding-top: 50px;
          img {
            width: 70px;
          }
          .go__card__content {
            padding-left: 38px;
            p {
              padding-top: 15px;
              width: 538px;
            }
          }
        }
      }
    }
    .order {
      background: #F4F4F4;
      .container {
        h1 {
          font-style: normal;
          font-weight: 400;
          font-size: 50px;
          line-height: 60px;
          text-align: center;
          color: #000000;
          padding-bottom: 24px;
        }
        p {
          padding-top: 15px;
        }
        .order__card__list  {
          display: flex;
          justify-content: space-between;
          padding-bottom: 52px;
          .order__card {
            .order__card__content {
              display: flex;
              align-items: center;
              .order__card__title {
                padding-left: 30px;
                h3 {
                  font-family: 'ABeeZee';
                  font-style: italic;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 21px;
                }
              }
            }
          } 
        }
        a {
          margin: 0 auto; 
          display:block; 
          text-decoration: none;
          text-align: center;
          padding-bottom: 20px;
        }
      }
    }
    .blog {
      .container {
        h1 {
          font-style: normal;
          font-weight: 400;
          padding-top: 70px;
          padding-bottom: 20px;
          font-size: 50px;
          line-height: 60px;
          text-align: center;
        }
        .blog__card__list {
          display: flex;
          justify-content: space-between;
          padding-bottom: 70px;
          .blog__card {
            width: 312px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            .blog__card__content {
              padding: 24px;
              h4 {
                font-style: normal;
                padding-bottom: 15px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
              }
              p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                padding-bottom: 5px;
                color: #000000;
              }
              span {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                color: #909090;
              }
            }
          }
        }
      }
    }
  }
  footer {
    background: #DDDDDD;
    padding: 54px 0;
    .container { 
      display: flex;
      justify-content: space-around;
      ul {
        li {
          list-style: none;
          padding-bottom: 10px;
          a {
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            text-align: center;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}